/* This is a global CSS file  */
@import url('react-big-calendar/lib/css/react-big-calendar.css');
@import url('react-big-calendar/lib/addons/dragAndDrop/styles.css');
@import url('react-toastify/dist/ReactToastify.css');

/* overriding react-big-calendar's css properties */
.rbc-event {
  background-color: #e7e5e4;
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  border: 1px solid #e7e5e4;
  border-radius: 0px 8px 8px 0px;
}

.rbc-event.rbc-selected {
  background-color: #a8a29e;
}

.rbc-event-content {
  color: #000000;
  font-size: 90%;
}

.rbc-day-slot .rbc-event-label {
  color: #78716c;
  font-size: 60%;
}
.rbc-off-range-bg {
  background-color: #f5f5f5;
}
/* overriding react-big-calendar's css properties */

/* START: overriding react-timezone-select's css properties */
.css-b62m3t-container .css-13cymwt-control,
.css-b62m3t-container .css-t3ipsp-control,
.css-b62m3t-container .css-t3ipsp-control:hover {
  background-color: #fafaf9;
  border-color: #a8a29e;
  border-radius: 0.5rem;
  padding: 4px 0;
  box-shadow: none;
}

.css-b62m3t-container .css-t3ipsp-control {
  border-color: #000000;
}
/* END: overriding react-timezone-select's css properties */
